h1 {
  font-size: 60px;
  color: red;
}

h2 {
  color: blueviolet;
}

.input-sub {
  border-radius: 5px;
}

.input-sub:hover {
  background-color: yellow;
  font-size: 20px;
  font-weight: bold;
}